force-app/main/default/flows/EEOC_Remove_Case_Created_Feed_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Was_Feed_Item_Found</name>
        <label>Was Feed Item Found</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No Feed Item Found</defaultConnectorLabel>
        <rules>
            <name>Feed_Item_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feed_Item</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Feed_Item</targetReference>
            </connector>
            <label>Feed Item Found</label>
        </rules>
    </decisions>
    <description>Deletes the Case Created feed item that otherwise shows up in the Chatter feed in the Case record details page. Since when data is loaded, activity is created and back dated, the Case Created feed item can&apos;t be modified to fit in to the timeline appropriately. The workaround is deleting the case feed item.</description>
    <environments>Default</environments>
    <interviewLabel>EEOC - Remove Case Created Feed Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EEOC - Remove Case Created Feed Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Feed_Item</name>
        <label>Delete Feed Item</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Feed_Item.Id</elementReference>
            </value>
        </filters>
        <object>FeedItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Feed_Item</name>
        <label>Feed Item</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Feed_Item_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Was_Feed_Item_Found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CreateRecordEvent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Feed_Item</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Case_Feed_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
